*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: hsl(223, 100%, 64%);
    --bg-color: hsl(223, 100%, 94%);
    --nav-border: 3px solid var(--main-color);
}

html {
    height: 100vh;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
}

body.dark {
    --bg-color: hsl(223, 100%, 10%);       
    --main-color: hsl(223, 80%, 50%);       
    --text-color: hsl(0, 0%, 95%);          
    --nav-border: 3px solid hsl(223, 80%, 50%);
    --shadow-color: rgba(0, 0, 0, 0.5);     
}

header {
    width: 100%;
    height: 26.66vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: var(--main-color);
}

h1 {
    color: white;
    font-size: 3rem;
}

nav {
    height: 6.66vh;
    width: 100%;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 1s ease-in-out;
}

nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    text-align: center;
}

nav li {
    border: var(--nav-border);
    border-top: 1px dotted white;
    flex: 1 1 0;
    padding: 1rem;
    position: relative;
    z-index: 1;
}

nav li::before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 0;
    inset: 0;
    width: 100%;
    transition: height 0.5s ease-in-out;
    background-color: var(--main-color);
}

nav li:hover a {
    color: white;
}

nav li:hover::before {
    height: 100%;
}

main {
    min-width: 48rem;
    max-width: 64rem;
    color: black;
    background-color: white;
    padding: 3rem;
    margin: 3rem;
    border-radius: 3rem;
    box-shadow: -1rem 1rem 1rem black;
}

p {
    margin: 1rem;
    font-size: 1.2rem;
}

footer {
    width: 100%;
    height: 6.66vh;
    color: white;
    background-color: var(--main-color);
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin-top: auto;
}

header a, footer a {
    color: white;
    text-decoration: none;
    transition: 0.5s all;
}

header a:hover {
    color: var(--bg-color);
}

.analyze-results {
    margin-top: 2rem;
}

.analyze-results pre {
    margin: 1rem 0;
    font-size: 1rem;
}

.analyze-results p {
    margin-left: 0;
}

#nickname {
    text-decoration: underline dotted;
    transition: 0.5s all;
}

#nickname:hover {
    text-decoration: none;
    color: gold;
}

@media (max-width: 48rem) {
    main {
        min-width: 16rem;
        max-width: 32rem;
        text-align: justify;
    }

    h2 {
        margin: 2rem 4px;
    }

    p {
        margin: 1.2rem;
        line-height: 1.2;
        font-size: 1.6rem;
    }
}